<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin_home"><i class="fas fa-envelope-open-text"></i>  Placement Management System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/admin_home">Home</a>
              <a class="nav-link active" href="/students">Candidates</a>
              <a class="nav-link text-success" href="/new_drive">Post new drive</a>
              <a class="nav-link text-danger" href="/home"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </div>
          </div>
        </div>
      </nav>
    <section id='text'>
        <figure class="text-center mt-5">
            <blockquote class="blockquote">
              <h3>Below is the list of all students who're registered!</h3>
              <br>
              <br>
              <div class="container">
                <%- include('./partials/message')%>
              </div>
            </blockquote>
          </figure>
    </section>
    <section id='main' class="container">
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Candidate name</th>
                <th scope="col">Stream</th>
                <th scope="col">Email Id</th>
                <th scope="col">Status</th>
                <th scope="col">Other info</th>
              </tr>
            </thead>
            <tbody>
            <% for(let i=0;i<data.length;i++){ %>
                <tr>
                <td><%= data[i].name %></td>
                <% if (data[i].stream=="bca") { %>
                    <td>Bachelor of Computer Application</td>
                <% }else{ %>
                    <td>Bachelor of Business Administration</td>
                <% } %>
                <td><%= data[i].email %> </td>
                <td>--</td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="buttonCheck">
                    Check
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Other information</h5>
                          </div>
                          <div class="modal-body">
                              <span class="text-info">SSC percentage:</span> <%= data[i].ssc_perc %>
                            <br>
                            <span class="text-info"> HSC percentage:</span>:</span> <%= data[i].hsc_perc %>
                            <br>
                            <span class="text-info"> Graduation percentage:</span>:</span> <%= data[i].grad_perc %>
                            <br>
                            <span class="text-info"> No. of active baclogs:</span>:</span> <%= data[i].backlog %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>   
              </tr>
            <% } %>  
            </tbody>
          </table>
    </section>
    <script>
      document.getElementById("buttonCheck").addEventListener("click", ()=>{
        let xhr = new XMLHttpRequest();
  
        xhr.open("GET", "/students", true)
            
        if(this.status== 200){
          console.log("..")
        }

        xhr.send()
      })
    </script>
</body>
</html>